Question 1

Only _data and myVar can be variable names. 2nd_value starts with a number, which is not allowed in python. class is a special structure used for creating objects, like how def creates functions. t0T4L-4M0UnT has a dash in the middle, and python thinks you are subtracting two variables, so it cannot be a name.

In [4]:
_data = [5,2]
myVar = 5

In [7]:
2nd_value = 5

SyntaxError: invalid decimal literal (872173658.py, line 1)

In [8]:
class =5

SyntaxError: invalid syntax (3803121759.py, line 1)

In [9]:
t0T4L-4M0UnT = 5

SyntaxError: invalid decimal literal (2533202850.py, line 1)

Question 2

The == operator checks whether two values have the same value and data type (unless comparing integers with float values, in which it ignores the type), but the is operator checks if they are the same exact variable/ points to the same object in memory. If the compared values are different data types, they will never be the same object in memory.  

5.0 is a float, 5 is an integer, both are the same value, so 5.0 == 5 = true. They are different data types, so aren't the same object, so 5.0 is 5 = false.

Question 3

In [22]:
s= "DataScienceIsAwesome"

s_extracted = s[4:11]
print(s_extracted)

s_reverse = s[::-1]
print(s_reverse)

s_every2 = s[::2]
print(s_every2)

Science
emosewAsIecneicSataD
DtSineswsm

Question 4

In [28]:
grades = {
    "Alice": 90,
    "Bob": 85,
    "Charlie": 80,
    "Eve": 95
}
grades["David"]= 87
grades.update({"Alice":95})
grades.pop("Charlie")
print(grades)

{'Alice': 95, 'Bob': 85, 'Eve': 95, 'David': 87}

Question 5

In Python / divides a number with decimal places, so the answer will be a float number. // divides a number, but rounds it down to its integer value.  

No matter if you use integers or floats, / will give a float, // will return an integer if both values are integers, and a float otherwise. 

Example: I have 100,000,000 dollars and I want to donate it equally among 32754 students such that everyone gets the same amount. How much do I give each person? Using both operands,

In [33]:
print(100000000/32754)
print(100000000//32754)

3053.062221408072
3053

To me, the decimal place is not important because I cannot donate that fraction of a dollar to those students. I have to round to the nearest dollar, which is more valuable to me.

Possible Errors: A company could create a database where a column's data type is an integer. I then make a function that adds values to that column, but because I used / in the function, I'm sending floating point values to the database, which creates errors.

Question 6

In [40]:
names = ["Andrew", "Betty", "Charlie", "Daniel", "Edward", "Frank", "George", "Hannah", "Isaac", "Jack"]
for i in range(0,len(names)):
    if (names[i][0] == 'a' or names[i][0] =='A'):
        print(names[i])

Andrew

Question 7

The x += operator is the same thing as x= x+ , so we have x= x+ x*(x-1), which is x= 5+5(5-1). Python follows the same rules as PEMDAS, so we will get x=25. The order is parenthesis (5-1)=4, multiplication 5*4=20, and then addition 5+20=25.

Question 8

In [46]:
lst = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

four = lst[0][1][1]
print(four)

lst[1][1][0] = 10
print("Modified list:",lst)

4
Modified list: [[[1, 2], [3, 4]], [[5, 6], [10, 8]]]

Question 9

In [49]:
result = "long" if len(my_list) > 5 else "short"

NameError: name 'my_list' is not defined

Question 10

In [56]:
cubes = [(x,x**3) for x in range(1,11)]
print(cubes)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216), (7, 343), (8, 512), (9, 729), (10, 1000)]